/* This file should contain CSS that is critical for the page load. */

:root {
    --system-ui: system-ui, "Meiryo UI", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* reset CSS from https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: var(--system-ui);
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
}


#about-me-button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 3em;
    padding-left: .5em;
    padding-right: .5em;
}
#about-me-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#about-me-button img {
    display: inline-block;
    vertical-align: middle;

}


.alert {
    padding: .5em;
    background-color: #F0C674;
    color: #4e3607;
}

body.ja [lang="en"] {
    display: none;
}

body:not(.ja) [lang="ja"] {
    display: none;
}


.hero {
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;

    /* height: calc(max(720px, 60vh)); */
    overflow: hidden;

    background: linear-gradient(0deg, #1B2E70, #1B2E70),
        radial-gradient(67.38% 73.99% at 27.67% 32.62%, rgba(255, 58, 247, 0.6) 0%, rgba(27, 46, 112, 0.3) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(53.6% 109.32% at 90.31% 82.3%, rgba(39, 220, 166, 0.6) 0%, rgba(32, 55, 117, 0.3) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(57.21% 66.86% at 71.56% 22.57%, rgba(3, 6, 91, 0.6) 0%, rgba(27, 46, 112, 0.3) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: screen;

    background-attachment: fixed;

    color: white;

    height: 60vh;
    min-height: 25em;
}

.display-1 {
    font-weight: 400;
    font-size: 4em;
}

.subtitle {
    display: block;
    font-size: .7em !important; 
    padding-top: .2em;
}


#language-button {
    position:fixed;
    right: 1em;
    top: 1em;
    background-color: #fefefe;
    width: 3em;
    height: 3em;
    padding: calc(1.5em - 12px);
    border-radius: 2em;

    z-index: 1;

    cursor: pointer;
    box-shadow: 0px 0px 5px 5px#5757579d;
    
    transition: .05s linear transform;
}

#language-button:hover {
    transform: scale3d(1.1, 1.1, 1);
}

#language-button img {
    vertical-align: baseline;
}



body {
    margin: 0px;
    overflow-x: hidden;
}


.hero .leader {
    flex-grow: 1;
    max-width: 960px;
}

.me {
    border-radius: 1000px;
    max-height: 75%;
    max-width: 75%;
    aspect-ratio: 1/1 !important;
    padding: 1em;

    margin-right: 4em;
}


.projects {
    display: flex;
    flex-wrap: wrap;

    width: 80vw;
    margin: auto;
}


.project {
    cursor: pointer;

    margin: 1em;
    width: calc(100vw - 2em);
    /*height: calc()*/
    aspect-ratio: 37 / 25;

    /* border: 1px solid violet; */

    position: relative;
    overflow: hidden;

    border-radius: 1em;
}

.project .tags {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.project .tag {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: .8rem;
    padding-top: .75lh;
    padding-bottom: .75lh;

    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 100%;
    width: 2.5lh;
    height: 2.5lh;

    margin-left: 4px;

    font-weight: bold;

    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.project .tags .tag p {
    margin-top: 0;
    margin-bottom: 0;
}


.project img {
    width: 100%;
    height: 100%;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;

    transform:scale(100%);
}

.credits {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

/* Smaller than 15cm is probably a phone! */
@media (max-width: 1000px) {
    .credits {
        left: 1em;
        right: unset;
        font-size: .75em;
    }
    
    .hero {
        /* leave space for the credits!! */
        min-height: calc(60vw + 144px + 100px);

        flex-direction: column;
        justify-content: flex-start;


    }

    .me {
        max-width: 60vw;
        margin-right: unset;
    }

    
    .hero .display-1 {
        text-align: center;

        font-size: 3em;
        line-height: 1em;
    }

    .hero .leader {
        flex-grow: 0;
    }

    .projects {
        width: 100vw;
    }
    
    .desktop {
        display: none;
    }
}

@media (min-width: 1000px) {
    .mobile {
        display: none;
    }
}

@media (min-width: 20cm) {
    .project {
        width: calc(50% - 2em);
    }
}


@media (min-width: 40cm) {
    .project {
        width: calc(33% - 2em);
    }
}


@media (min-width: 50cm) {
    .project {
        width: calc(25% - 2em);
    }
}

.mobile-only {
    display: none;
}
