


p {
    margin-bottom: .5em;
}

h2,h3,h4,h5,h6 {
    margin-top: 1em;
}





.project-overview {
    display: block;
    overflow: auto;
    width: 100%;
}






body.project-view #moving-container {
    transform: translate3d(-100vw, 0px, 0px);
}

body.transition #moving-container {
    transition: .5s cubic-bezier(0.65, 0, 0.35, 1)  transform;
}

#content {
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 100vw;
}

body:not(.project-view) #content {
    height: 0px !important;
}

body:not(.project-view) .side-nav {
    display: none !important;
}

.lead {
    font-size: 1.4em;
    color: #222222;
    margin-bottom: 1em;
}

table {
    min-width: 100%;
    width: fit-content;
}

table th, table td{
    padding: .5em;
    white-space : nowrap;

    text-align: left;
}

table td ul {
    padding: 0;
    list-style: none;
}

.project:hover .tag {
    opacity: 0;
}


.project:hover img {
    transform:scale(150%);
} 

.project .popup {
    font-size: 1em;
    color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 2em;
    padding-right: 2em;
    
    opacity: 0;

    background-color: rgba(0, 0, 0, .8);
    transition: .2s linear all;

    transform:scale(100%);

}

.project:hover .popup {
    opacity: 1;
    /* transform:scale(150%); */

}


/* Side Navigation */

/* On screens narrower than 1600px let's put a static nav at the top */

.outline {
    width: 300px;
    margin-top: 120px;
}

.outline nav {
    position:sticky;
    height: auto;

    top: 120px;
}



.outline nav ul {
    list-style: none;
}

.outline nav a {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
    text-decoration: none;
    color: inherit;

    transition: transform .2s linear;
}

.outline nav a.active {
    transform: translateX(-1em) ;
    font-weight: 600;
}
