
* {
    box-sizing: border-box;
    font-family: "Jost", Arial, Helvetica, sans-serif;
}

body.ja * {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body.ja [lang="en"] {
    display: none;
}

body:not(.ja) [lang="ja"] {
    display: none;
}


#language-button {
    position:absolute;
    right: 1em;
    top: 1em;
    background-color: #fefefe;
    width: 3em;
    height: 3em;
    padding: calc(1.5em - 12px);
    border-radius: 2em;

    cursor: pointer;
    box-shadow: 5px 5px 5px 5px#2b2b2b;
}

#language-button img {
    vertical-align: baseline;
}


html {
    font-size: 20px;
}

body {
    margin: 0px;
    overflow-x: hidden;
}


body.project-view #moving-container {
    transform: translate3d(-100vw, 0px, 0px);
}

body.transition #moving-container {
    transition: .5s cubic-bezier(0.65, 0, 0.35, 1)  transform;
}

#content {
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 100vw;
}

body:not(.project-view) #content {
    height: 0px !important;
}

body:not(.project-view) .side-nav {
    display: none !important;
}

.side-nav {
    width: 160px;
    position:sticky;
    float: left;
    height: auto;

    top: 120px;
    margin-top: 120px;
    margin-left: -200px;
}

.hero {
    height: calc(max(720px, 60vh));
    overflow: hidden;

    background: linear-gradient(0deg, #1B2E70, #1B2E70),
        radial-gradient(67.38% 73.99% at 27.67% 32.62%, rgba(255, 58, 247, 0.6) 0%, rgba(27, 46, 112, 0.3) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(53.6% 109.32% at 90.31% 82.3%, rgba(39, 220, 166, 0.6) 0%, rgba(32, 55, 117, 0.3) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(57.21% 66.86% at 71.56% 22.57%, rgba(3, 6, 91, 0.6) 0%, rgba(27, 46, 112, 0.3) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: screen;

    background-attachment: fixed;
}


.me {
    border-radius: 1000px;
    max-height: 60%;
    max-width: 60%;
    aspect-ratio: 1/1 !important;
    padding: 1em;
}


.projects {
    display: flex;
    flex-wrap: wrap;

    width: 80vw;
    margin: auto;
}


.project {
    cursor: pointer;

    margin: 1em;
    width: calc(100% - 2em);

    aspect-ratio: 37 / 25;

    /* border: 1px solid violet; */

    position: relative;
    overflow: hidden;

    border-radius: 1em;
}

.project .tags {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.project .tag {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;

    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 3.5em;
    width: 3.5em;
    height: 3.5em;

    font-weight: bold;

    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.project .tags .tag p {
    margin-top: revert;
    margin-bottom: revert;
}

figure.figure {
    width: 50% !important;;
}

@media (max-width: 30cm) {
    /* phones! */
    .projects {
        width: 100vw;
    }

    figure.figure {
        width: calc(100% - 30px) !important;
    }

    .me {
        max-height: 90%;
        max-width: 90%;

    }
}

@media (min-width: 30cm) {


    .project {
        width: calc(50% - 2em);
    }
}


@media (min-width: 50cm) {
    .project {
        width: calc(33% - 2em);
    }
}


@media (min-width: 80cm) {
    .project {
        width: calc(25% - 2em);
    }
}

.project:hover .tag {
    opacity: 0;
}

.project img {
    width: 100%;
    height: 100%;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;

    transform:scale(100%);

}

.project::after {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
}

.project:hover::after {

    /* left: 0; */
    box-shadow: inset 0 0 15px #2b2b2b;


}

.project:hover img {
    transform:scale(150%);
} 

.project .popup {
    font-size: 1em;
    color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1em;

    opacity: 0;

    background-color: rgba(0, 0, 0, .5);
    transition: .2s linear all;

    transform:scale(100%);

}

.project:hover .popup {
    opacity: 1;
    /* transform:scale(150%); */

}
