



<div class="container">
    <div class="side-nav">
        <nav id="project-nav" class="nav">
            <ul>
            <li><a href="#overview">Overview</a>
            </ul>
        {{ content | toc | safe }}
        </nav>
    </div>
    
    <h1 class="display-1" id="overview">{{title}}</h1>

    <p class="lead">{{ description }}</p>


    <div class="overflow-auto w-100 d-block">
        <table class="table table-borderless">
            <thead class="w-100">
                <th>Project type</th>
                <th>Credits</th>
                <th>Tools</th>
                <th>Duration</th>
            </thead>
            <tr>
                <td>{{ project_type }}</td>
                <td><ul>{% for credit in credits %} <li><strong>{{ credit.who }}:</strong> {{ credit.what }}</li> {% endfor %} </ul> </td>
                <td><ul>{% for tool in tools %} <li>{{ tool }} {% endfor %}</ul> </td>
                <td>{{ duration }}</td>
            </tr>
        </table>
    </div>

    {{ content | safe }}

</div>