



<div class="container">

    
    <div class="project-content">
    <h1 class="display-1" id="overview">{{title}}</h1>

    <p class="lead">{{ description }}</p>


    
    <div class="project-overview">
        <table class="table table-borderless">
            <thead>
                <th>{{ project_type_str }}</th>
                <th>{{ credits_str }}</th>
                <th>{{ tools_str }}</th>
                <th>{{ duration_str }}</th>
            </thead>
            <tr>
                <td>{{ project_type }}</td>
                <td><ul>{% for credit in credits %} <li><strong>{{ credit.what }}:</strong> {{ credit.who }}</li> {% endfor %} </ul> </td>
                <td><ul>{% for tool in tools %} <li>{{ tool }} {% endfor %}</ul> </td>
                <td>{{ duration }}</td>
            </tr>
        </table>
    </div>

    <div class="outline">
        <h2 class="mobile-only">Table of Contents</h2>
        <nav id="project-nav">
            <ul>
            <li><a href="#overview">Overview</a>
            </ul>
        {{ content | toc | safe }}
        </nav>
    </div>

    {{ content | safe }}

    </div>
</div>